{{#if $chapterData && $chapterData.length}}
<section class="reading-pane">
  <h3>{{$currentBookName}}</h3>
  <ul>
    {{#each $chapterData as v}}
    <li data-verse-id={{v.verseid}}>
      <strong class="verse-number">{{v.verse}}</strong> {{v.words}}
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script>
  export default {
    oncreate() {
      // this.store.observe('chapterData', data => console.log('chapter data', data))
    }
  }
</script>

<style>
  .reading-pane {
    padding: 0.5rem;
  }

  .verse-number {
    color: #62727b;
    display: inline-block;
    /* width: 1.5rem; */
  }

  h3 {
    margin: 0;
    padding: 0 0 12px 0;
    font-family: cursive;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    padding: 0;
    margin: 0;
  }
</style>